@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

//colors
$primary: #662DAB;
$secondary: #C8EAE1;
$light-accent: white;

//radi
$card-radius: 15px;
$button-radius: 5px;

//font-size
$title-font: 30px;
$general-font: 18px;
$button-font: 15px;
$nav-font: 20px;
$smaller-font: 12px;

//removing outlines and other input edits
input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

input::-webkit-color-swatch {
    border: none;
}

//button styling
.button {
    border: 2px solid $primary;
    border-radius: $button-radius;
    color: $primary;
    background-color: transparent;
}

.button:hover {
    color: $secondary;
    background-color: $primary
}

.profile-button {
    border: 1px solid $secondary;
    border-radius: $button-radius;
    color: $secondary;
    height: 30px;
    align-self: center;
    background-color: transparent;
}

.profile-button:hover {
    background-color: $secondary;
    color: $primary
}

body {
    color: $primary;
    font-weight: 500;
    background-color: $primary;
    font-family: 'Roboto', sans-serif;
}

main {
    margin-top: 130px;
    padding-top: 2rem;
}

/**
 * NAV
*/

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;

    height: 130px;
    background-color: $secondary;
    padding: 30px 0;
    padding-left: 2rem !important;
    padding-right: 2rem !important;

    .navbar-toggler-icon {
        color: $primary;
        font-size: $nav-font;
    }

    .navbar-collapse {
        background-color: $secondary;
    }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $primary;
        opacity: 0.5;
        /* Firefox */
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $primary;
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $primary;
    }
}

//SEARCH BAR

#search-bar {
    width: 80%;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid $primary;
    font-size: $nav-font;
}

.logo {
    width: 140px;
    fill: $primary;
}

//nav links
.nav-link {
    color: $primary;
    font-size: $nav-font;
}

.nav-link:hover {
    color: $primary;
    font-weight: 500;
    background-color: transparent;
    border-bottom: 2px solid $primary;
}

.new-button {
    border: none;
    background-color: transparent;
}



// NAV ENDS




/**
 * Form SCSS
*/

// signModal && profileModal
#signModal {
    .modal-content {
        color: $primary;
        background-color: $secondary;
        padding-bottom: 2rem;
    }
}


#signModal,
#profileModal {

    .modal-header {
        background-color: $primary;
        color: $secondary;
        font-size: 1.5rem !important;
        border-bottom: 1px solid $primary;
    }

    .close {
        color: $secondary;
        text-shadow: 0 1px 0 $primary;
        opacity: .8;
    }
}

#profileModal {
    .modal-content {
        margin-top: 1rem;
        color: $primary;
        background-color: $secondary;
    }

    .modal-footer {
        border-top: 1px solid $primary;
    }

    .form-group input {
        margin-bottom: 1rem;
    }
}


.sign-toogle-button {
    border: 0px solid $primary;
    border-radius: $button-radius;
    color: $primary;
    background-color: transparent;
}

.sign-toogle-button:hover {
    border: 1px solid $primary;
    color: $primary;
    background-color: transparent;
}

.hr-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: $primary;
    text-align: center;
    height: 1.5em;
    opacity: 1;

    &:before {
        content: '';
        // use the linear-gradient for the fading effect
        // use a solid background color for a solid bar
        background: $primary;
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
    }

    &:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        color: $primary;

        padding: 0 .5em;
        line-height: 1.5em;
        // this is really the only tricky part, you need to specify the background color of the container element...
        background-color: $secondary;
    }
}

// signModal && profileModal ends







//DOODLE CARD

.modal canvas {
    width: 100% !important;
    height: 400px !important;
}

.doodle-canvas {
    width: 100% !important;
    margin: 0 auto;
    // width: 400px !important;
    height: 400px !important;
    // margin: 0 auto;
}


.doodle-card {
    background-color: $secondary;
    border: 3px solid $secondary;
    border-radius: $card-radius;
    // width: 400px;
    // height: 500px;
}

.disabled-canvas {
    width: 400px;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
    border-top-left-radius: $card-radius;
    border-top-right-radius: $card-radius;
}

.fake-canvas {
    width: 100%;
    background-color: white;
    border-top-left-radius: $card-radius;
    border-top-right-radius: $card-radius;
}

.like-title-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.doodle-name {
    font-size: $general-font;
    margin-bottom: 3px;
}


.created-by {
    font-size: $smaller-font;
}


.edit-delete button {
    margin-top: 5px;
    margin-right: 5px;
}

.like {
    // display: inline-block;
    align-self: flex-end;
    // height: 26px;
    // width: 30px !important;
    // border-radius: 13px;
    // border: 3px solid $primary;
    fill: $primary;
    text-align: center;
}

.liked {
    // display: inline-block;
    align-self: flex-end;
    // height: 26px;
    // width: 100px !important;
    // border-radius: 13px;
    // border: 3px solid $primary;
    fill: white;
    // border: 2px solid $primary;
    text-align: center;
}

p {
    margin-bottom: 0;
}

//DOODLE CONTAINER
.col-lg-4,
.col-md-6 .col-sm-6 .col-12 {
    padding: 0;
    margin: 0;
}

.grid-gap {
    padding: 1%;
}

.container-fluid {
    width: 90%;
    margin: 0 auto;

}

//PROFILE

#profile-info-container {
    color: $secondary;
    width: 88%;
    margin: 0 auto;
}

#profile-edit-container {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

#line {
    background-color: $secondary;
    height: 2px;
    width: 32%;
    margin: 10px 0 35px 0;
}


//DOODLE CANVAS

.doodle-modal .modal-content {
    background-color: $secondary;
    border-radius: $card-radius;
}

.doodle-modal .modal-header {
    border: none;
}

.doodle-modal .modal-body {
    padding: 0;
}

.close {
    color: $primary;
    opacity: 1;
}

.clear-undo {
    width: 100%;
    text-align: center;
}

.undo {
    margin-left: 7px;
}

.tool-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: flex-end;
}

.tool-container input {
    height: 25px;
    border: none;
    background-color: $secondary;
    color: $primary;
    text-align: center;
    margin: 0 5px;
    border-bottom: 2px solid $primary;
}

.brush-radius-input {
    width: 50px;
    padding-left: 12px;
}

input[type="color"] {
    width: 45px;
    color: $light-accent;
    height: 25px;
    padding: 0;
}

input[type="color"]:hover {
    cursor: pointer;
}

.random-button {
    border: 1px solid $primary;
    width: 55px;
    font-size: $smaller-font;
    border-radius: $button-radius;
    color: $primary;
    background-color: transparent;
}

.random-button:hover {
    background: linear-gradient(to right, rgb(255, 203, 106), rgb(255, 247, 129), rgb(119, 235, 119), rgb(117, 255, 255), rgb(117, 154, 255), violet);
}

.save-button {
    width: 60px;
    height: 60px;
    margin: 5px;
    border: none;
    border-radius: 30px;
    background-color: $primary;
    color: $secondary;
    font-weight: 500;
}

.save-button:hover {
    color: $light-accent;
    background-color: rgb(255, 138, 134);
}