@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

//colors
$primary: #662DAB;
$secondary: #C8EAE1;
$light-accent: white;

//radi
$card-radius: 15px;
$button-radius: 5px;

//font-size
$title-font: 30px;
$general-font: 18px;
$button-font: 15px;
$nav-font: 20px;
$smaller-font: 12px;

//removing outlines and other input edits
input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

input::-webkit-color-swatch {
    border: none;
}

//button styling
.button {
    border: 2px solid $primary;
    border-radius: $button-radius;
    color: $primary;
    background-color: transparent;
}

.button:hover {
    color: $secondary;
    background-color: $primary
}

.profile-button {
    border: 1px solid $secondary;
    border-radius: $button-radius;
    color: $secondary;
    height: 30px;
    align-self: center;
    background-color: transparent;
}

.profile-button:hover {
    background-color: $secondary;
    color: $primary
}

body {
    color: $primary;
    font-weight: 500;
    background-color: $primary;
    font-family: 'Roboto', sans-serif;
}

main {
    margin-top: 120px;
}

//NAV

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;
    background-color: $primary;
    height: 100px;
}

// nav {
//     height: 80px;
// }

nav ul {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin: 10px;
}

nav li a {
    padding: 0 10px;
    font-size: 1.2rem;
}

a {
    color: black;
}

@media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            // width: 100%;
            left: 0;
            text-align: center;
        }
    }
    

nav #new-button {
    background: none !important;
    border: none;
    font-size: 1.2rem;
    padding: 0!important;
}

nav #search-container {
    text-align: center;
}


#nav-link-container {
    display: flex;
    justify-content: space-around;
}

#logo {
    font-family: 'Permanent Marker', cursive;
    align-self: flex-end;
    font-size: 3.5rem;
    margin: 0;
    padding: 0;
    text-shadow: 0px 0px 5px rgb(105, 105, 105);
}

#logo #D {
    color: rgb(255, 162, 40);
}

#logo #O {
    color: rgb(255, 213, 27);
}

#logo #O2 {
    color: rgb(27, 223, 9);
}

#logo #D2 {
    color: rgb(0, 217, 233);
}

#logo #L {
    color: violet;
}


//DOODLE CARD

.modal canvas {
    width: 100% !important;
    height: 400px !important;
}

.doodle-canvas
 {
    width: 100% !important;
    margin: 0 auto;
    // width: 400px !important;
    height: 400px !important;
    // margin: 0 auto;
}


.doodle-card {
    background-color: $secondary;
    border: 3px solid $secondary;
    border-radius: $card-radius;
    // width: 400px;
    // height: 500px;
}

.disabled-canvas {
    width: 400px;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
    border-top-left-radius: $card-radius;
    border-top-right-radius: $card-radius;
}

.fake-canvas {
    width: 100%;
    background-color: white;
    border-top-left-radius: $card-radius;
    border-top-right-radius: $card-radius;
}

.like-title-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.doodle-name {
    font-size: $general-font;
    margin-bottom: 3px;
}


.created-by {
    font-size: $smaller-font;
}


.edit-delete button {
    margin-top: 5px;
    margin-right: 5px;
}

.like {
    display: inline-block;
    align-self: flex-end;
    height: 26px;
    width: 26px;
    border-radius: 13px;
    border: 3px solid $primary;
}

p {
    margin-bottom: 0;
}

//DOODLE CONTAINER
.col-lg-4, .col-md-6 .col-sm-6 .col-12 {
    padding: 0;
    margin: 0;
}

.grid-gap {
    padding: 1%;
}

.container-fluid {
    width: 90%;
    margin: 0 auto;

}

//PROFILE

#profile-info-container {
    color: $secondary;
    width: 88%;
    margin: 0  auto;
}

#profile-edit-container {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

#line {
    background-color: $secondary;
    height: 2px;
    width: 32%;
    margin: 10px 0 35px 0;
}


//DOODLE CANVAS

.doodle-modal .modal-content {
    background-color: $secondary;
    border-radius: $card-radius;
}

.doodle-modal .modal-header {
    border: none;
}

.doodle-modal .modal-body {
    padding: 0;
}

.close {
    color: $primary;
    opacity: 1;
}

.clear-undo {
    width: 100%;
    text-align: center;
}

.undo {
    margin-left: 7px;
}

.tool-container {
    display:flex;
    justify-content: space-between;
    padding: 10px;
    align-items: flex-end;
}

.tool-container input {
    height: 25px;
    border: none;
    background-color: $secondary;
    color: $primary;
    text-align: center;
    margin: 0 5px;
    border-bottom: 2px solid $primary;
}

.brush-radius-input {
    width: 50px;
    padding-left: 12px;
}

input[type="color"] {
    width: 45px;
    color: $light-accent;
    height: 25px;
    padding: 0;
}

input[type="color"]:hover {
    cursor: pointer;
}

.random-button {
    border: 1px solid $primary;
    width: 55px;
    font-size: $smaller-font;
    border-radius: $button-radius;
    color: $primary;
    background-color: transparent;
}

.random-button:hover {
    background: linear-gradient(to right, rgb(255, 203, 106) , rgb(255, 247, 129), rgb(119, 235, 119), rgb(117, 255, 255), rgb(117, 154, 255), violet);
}

.save-button {
    width: 60px;
    height: 60px;
    margin: 5px;
    border: none;
    border-radius: 30px;
    background-color: $primary;
    color: $secondary;
    font-weight: 500;
}

.save-button:hover {
    color: $light-accent;
    background-color: rgb(255, 138, 134);
}

// Form SCSS
.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;

    &:before {
        content: '';
        // use the linear-gradient for the fading effect
        // use a solid background color for a solid bar
        // background:$dark-accent;
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
    }

    &:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        // color:$dark-accent;

        padding: 0 .5em;
        line-height: 1.5em;
        // this is really the only tricky part, you need to specify the background color of the container element...
        background-color: #fcfcfa;
    }
}

.text-divider {
    margin: 2em 0;
    line-height: 0;
    text-align: center;
}

.text-divider span {
    background-color: #f5f5f5;
    padding: 1em;
}

.text-divider:before {
    content: " ";
    display: block;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #f7f7f7;
}

//SEARCH BAR

#search-bar-container {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}
